@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


*{
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: #FF3800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body div{
    height: 100vh;
}

h1{
    color: #FFE4E1;
}

h2{
    background-color: #7F1734;
    color: #FDBCB4;
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #FDBCB4;
    border-radius: 20px;
}