@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


*{
    box-sizing: border-box;
}

:root{
    --h1Yazi :#FFE4E1;
    --boxYazi :#FE6F5E;
    --boxArka : #8B0000;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #FF3800;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1{
    margin: 10px;
    color: var(--h1Yazi);
}


.box{
    background-color: var(--boxArka);
    color: var(--boxYazi);
    height: 200px;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--boxYazi);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transform: translateX(400%);
    transition: transform 1s ease;
}


.box:nth-last-of-type(even){
    transform: translateX(-400%); 
}

.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 35px;
}